.accordion-app {
    text-align: center;
}

.accordion-wrapper {
    border: 1px solid #eee;
    text-align: left;
    max-width: 80%;
    margin: 0 auto 1.5rem;
    padding: 15px;
    border-radius: 4px;
}

.accordion-title {
    cursor: pointer;
}

.accordion-title h3 {
    margin: 0 0 15px;
    font-size: 16px;
    position: relative;
}

.accordion-title h3::after {
    content: "";
    border: 2px solid #444444;
    border-width: 0px 2px 2px 0;
    width: 8px;
    height: 8px;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
}

.accordion-content {
    line-height: 1.3;
    color: rgb(40 44 63 / 80%);
    font-size: 14px;
}